// Override default variables before the import
// $body-bg: #000;

$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue",
  Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !default;

@import "~bootstrap/scss/bootstrap.scss";

.me-section {
  padding-top: 25px;
  padding-bottom: 15px;
}
.partial-center {
  width: 75%;
  margin: auto;
  @media (max-width: 700px) {
    width: 90%;
  }
}
.me-profile {
  border-radius: 50%;
  padding: 3px;
  border: 1px solid #c5cdce;
  background-color: white;
}
.publication-row {
  img {
    max-height: 300px;
  }
  p {
    margin-bottom: 8px;
    font-size: 0.9rem;
    line-height: 1rem;
  }
  button {
    padding: 0;
    line-height: 1rem;
    font-size: 0.8rem;
    vertical-align: text-bottom;
  }
  pre {
    font-size: 70%;
    margin: 0;
  }
  .pub-title {
    font-weight: 550;
  }
}

.project-row {
  .proj-title {
    margin-bottom: 4px;
    font-weight: 500;
  }
}

.experience-row {
  font-size: 90%;
  span {
    font-weight: 300;
  }
}

.footer {
  color: dimgray;
  a {
    color: lightslategrey;
  }
}
